<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notes</title>


    <!-- Test Framework -->
    <script type="text/javascript" src="../spec/assert.js"></script>

    <!-- Javascript -->
    <script type="text/javascript" src="../src/note.js"></script>
    <script type="text/javascript" src="../src/noteComponent.js"></script>

		<script type="text/javascript" src="./interface.js"></script>

    <!-- Tests -->
    <script type="text/javascript" src="../spec/noteComponentSpec.js"></script>
    <script type="text/javascript" src="../spec/noteSpec.js"></script>
    <script type="text/javascript" src="../spec/featureSpec.js"></script>


  </head>
  <body id="body">
    <h1>Notes  |  Team Barefoot</h1>
    <section id="new-note">
		<form>
      <textarea id="new-note-text" rows="16" cols="80" placeholder="Type your note here" value=""></textarea></br>
      <button type="button" id='add-note' name="create-note">Add note</button>
		</form>
		</section>
    <section id="notelist">
      <ul id="notes">
      </ul>
    </section>
  </body>
</html>
