<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notes</title>
    <script type="text/javascript" src="createNotesTest.js"></script>
    <script type="text/javascript" src="notes.js"></script>
    <script src="assert.js"></script>
  </head>
  <body>
    <h1>Notes  |  Team Barefoot</h1>
    <section id="new-note">
      <textarea name="new-note" rows="16" cols="80" placeholder="Type your note here"></textarea></br>
      <button type="button" name="create-note">Add note</button>
    </section>
    <section id="note-list">
      <ul id="notes">
        <li>Here's a hard-coded note</li>
      </ul>
    </section>
  </body>
</html>
