<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notes</title>


    <!-- Test Framework -->
    <script type="text/javascript" src="../spec/assert.js"></script>

    <!-- Javascript -->
    <script type="text/javascript" src="../src/note.js"></script>
		<script type="text/javascript" src="./interface.js"></script>

    <!-- Tests -->
    <script type="text/javascript" src="../spec/noteSpec.js"></script>


  </head>
  <body>
    <h1>Notes  |  Team Barefoot</h1>
    <section id="new-note">
      <textarea name="new-note" rows="16" cols="80" placeholder="Type your note here"></textarea></br>
      <button type="button" id='add-note' name="create-note">Add note</button>
    </section>
    <section id="notelist">
      <ul id="notes">
        <li>Here's a hard-coded note</li>
      </ul>
    </section>
  </body>
</html>
